@mixin checkbox-after ($border-color) {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 2.5px solid $border-color;
    box-sizing: border-box;
    border-radius: 5px;
}

@mixin radio-check {
    input[type=radio] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }

    label {
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: -37px;
            top: -3px;
            width: 25px;
            height: 25px;
            border: 3px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            left: -31px;
            top: 3px;
            width: 13px;
            height: 13px;
            background: #E5E5E5;
            border-radius: 50%;
        }

    }

    input[type=radio]:checked+label:after {
        background: #070707;
    }

    input[type=radio]:checked+label:before {
        border: 3px solid #070707;
    }


    input[type=radio]:focus+label:before {
        outline: #000 auto 1px;
    }

}

@mixin checkbox-black {
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    label {
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: -37px;
            top: -3px;
            width: 25px;
            height: 25px;
            border: 2.5px solid #070707;
            box-sizing: border-box;
            border-radius: 5px;
        }

        &::after {
            content: '';
            position: absolute;
            left: -31px;
            top: 3px;
            width: 15px;
            height: 15px;
            background-image: url(../../static/images/check-mark.svg);
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
        }

    }

    input[type=checkbox]:checked+label:after {
        opacity: 1;
    }

    input[type=checkbox]:focus+label::before {
        outline: #000 1px;
        outline-style:ridge;
    }

    
}

.page__title {
    font-size: 47px;
    line-height: 57px;
    margin-top: 39px;
}

legend {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
}

label {
    font-weight: 500;
    display: inline-block;
}

.filters {
    padding-top: 41px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E5E5E5;
    &__form {
        display: flex;
        flex-wrap: wrap;

        ul[class*="list"] {
            list-style-type: none;
        }
    }
}

.tags {
    margin-right: 73px;

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;

        &:checked+label>svg {
            opacity: 1;
        }

        &:focus+label::after {
            outline: #000 auto 1px;
        }
    }
    &__check-mark {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    &__list {
        display: inline-block;
        max-width: 120px;
        margin-top: 6px;
    }

    label {
        cursor: pointer;
    }

    &__item {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 1px;
        margin-top: 5px;
    }

    &__label {
        &-one-color {
            &::after {
                content: '';
                @include checkbox-after (#2176FF);
            }
        }

        &-two-color {
            &::after {
                content: '';
                @include checkbox-after (#33A1FD);
            }
        }

        &-three-color {
            &::after {
                content: '';
                @include checkbox-after (#FDCA40);
            }
        }

        &-four-color {
            &::after {
                content: '';
                @include checkbox-after (#57E2E5);
            }
        }

        &-five-color {
            &::after {
                content: '';
                @include checkbox-after (#F79824);
            }
        }

        &-six-color {
            &::after {
                content: '';
                @include checkbox-after (#E08DAC);
            }
        }

        &-seven-color {
            &::after {
                content: '';
                @include checkbox-after (#6A7FDB);
            }
        }

        &-eight-color {
            &::after {
                content: '';
                @include checkbox-after (#45CB85);
            }
        }
    }
}

.views {
    margin-right: 71px;

    &__list {
        margin-top: 13px;
    }

    &__item {
        margin-left: 37px;
        margin-top: 14px;
    }

    @include radio-check;

}

.comments {
    margin-right:  137px;
    &__item {
        margin-left: 37px;
        margin-top: 14px;
    }
    @include checkbox-black;
}

.show {
    margin-right:  76px;
    &__item {
        margin-left: 37px;
        margin-top: 14px;
    }
    @include radio-check;
}

.sort {
    margin-right: 5%;
    &__item {
        margin-left: 37px;
        margin-top: 14px;
    }
    @include radio-check;
}
.reset-form {
    padding-top: 19px;
    &__title {
        font-size: 14px;
        line-height: 16px;
        color: #E5E5E5;
        display: block;
        text-align: center;
        margin-bottom: 4px;
    }
}
.search {
    width: 100%;
    margin-top: 36px;
    &__input {
        font-family: var(--font-gilroy);
        max-width: 873px;
        width: 100%;
        max-height: 50px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #070707;
        padding: 14px;
        box-sizing: border-box;
        border: 2.5px solid #E5E5E5;
    }
    &__btn{
        margin-left: 26px;
    }
}

.button {
    font-family: var(--font-gilroy);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    padding: 8px 16px;
    border: 2.5px solid #070707;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
}