<article class="article">
    <picture>
        <source srcset="@@url-mobile, @@url-mobile2x 2x" media="(max-width: 375px)">
        <source srcset="@@url-tablet, @@url-tablet2x 2x" media="(max-width: 768px)">
        <source srcset="@@url-img, @@url-img2x 2x">
        <img class="article__img" src="@@url-img" alt="@@alt-img" />
    </picture>
    <div class="article__content">
        @@tags
        <div class="article__statistic">
            <span class="article__post-time">@@date</span>
            <span class="article__views">@@view views</span>
            <span class="article__comments">@@comments comments</span>
        </div>
        <h3 class="article__title">@@title</h3>
        <p class="article__text">@@text</p>
        <a class="article__link" href="@@link">Go to this post</a>
    </div>
</article>