<div class="edit-data-modal hidden edit-data-modal_js">
    <h2 class="visually-hidden">Editing data Window</h2>
    <form action="#" class="edit-data-modal__form" method="POST" name="editDataForm">
        <fieldset class="edit-data-modal__wrapper-email">
            <label class="edit-data-modal__email" for="edit-data-email">Email</label>
            <input type="text" id="edit-data-email" name="email" placeholder="larioshkina@gmail.com">
        </fieldset>
        <fieldset class="edit-data-modal__wrapper">
            <div class="edit-data-modal__block">
                <label class="edit-data-modal__name" for="edit-data-name">Name</label>
                <input type="text" id="edit-data-name" name="name" placeholder="Ksenia">
            </div>
            <div class="edit-data-modal__block">
                <label class="edit-data-modal__sname" for="edit-data-sname">Surname</label>
                <input type="text" id="edit-data-sname" name="sname" placeholder="Larioshkina">
            </div>
            <div class="edit-data-modal__block">
                <label class="edit-data-modal__location" for="edit-data-location">Location</label>
                <input type="text" id="edit-data-location" name="location" placeholder="Moscow">
            </div>
            <div class="edit-data-modal__block">
                <label class="edit-data-modal__age" for="edit-data-age">Age</label>
                <input type="number" id="edit-data-age" name="age" placeholder="17">
            </div>
            <div class="edit-data-modal__block">
                <label class="edit-data-modal__file" for="edit-data-file">Profile picture</label>
                <label class="edit-data-modal__fake-input fakeFile-input_js" for="edit-data-file">file-name.png</label>
                <input class="edit-data-modal__input-hidden" type="file" id="edit-data-file" accept=".jpg,.jpeg,.png,.webp" name="file">
            </div>
        </fieldset>
        @@include('button/index.html', {
            'class':'edit-data-modal__submit-btn',
            'type':'submit',
            'text-btn':'Submit changes',
            'id': 'edit-data-modal__submit-btn',
            'disable': ''
        })
    </form>
    <button class="edit-data-modal__btn_close modal-btn-close_js" type="button" aria-label="edit data window close">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="#828282" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill=""/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill=""/>
        </svg>
    </button>
</div>