<div class="send-form__wrapper-success wrapper-success_js hidden">
    <div class="send-form__message-success send-form-success_js">Form has been sent successfully</div>
    <button type="button" class="send-form__btn_close-success close-success-btn_js"><svg width="26" height="26" viewBox="0 0 26 26" fill="#828282" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82812" width="32" height="4" rx="2" transform="rotate(45 2.82812 0)" fill=""/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill=""/>
    </svg>
    </button>
</div>
<div class="send-form__wrapper-error wrapper-error_js hidden">
    <div class="send-form__message-error send-form-eror_js">The form was sent but the server transmits an error: “The form was sent but the server transmits an error”</div>
    <button type="button" class="send-form__btn_close-error close-error-btn_js"><svg width="26" height="26" viewBox="0 0 26 26" fill="#828282" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82812" width="32" height="4" rx="2" transform="rotate(45 2.82812 0)" fill=""/>
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill=""/>
    </svg>
    </button>
</div>