.sing-up-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    max-width: 680px;
    width: 100%;
    background: #FFFFFF;
    border: 2.5px solid #070707;
    padding: 33px 38px;
    z-index: 12;

    &__wrapper-email {
        margin-bottom: 17px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
            width: 100%;
        }
    }

    &__block {
        max-width: 290px;
        width: 100%;
        margin-bottom: 16px;
    }

    &__form {
        label {
            position: relative;
            display: inline-block;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 7px;
        }

        input {
            font-family: var(--font-gilroy);
            font-size: 18px;
            line-height: 21px;
            padding: 12px;
            box-sizing: border-box;
            border: 2.5px solid #E5E5E5;
        }
    }

    sup {
        color: #EB3617;
        font-size: 17px;
        position: absolute;
        right: -9px;
        top: 2px;
    }

    &__email~input {
        width: 100%;
    }

    &__wrapper-agreement {
        margin-top: 1px;
        margin-left: 34px;

        input[type=checkbox] {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;
        }

        label {
            position: relative;
            cursor: pointer;
            color: #E5E5E5;

            &::before {
                content: '';
                position: absolute;
                left: -35px;
                top: 0px;
                width: 19px;
                height: 19px;
                border: 2px solid #E5E5E5;
                box-sizing: border-box;
                border-radius: 3px;
            }

            &::after {
                content: '';
                position: absolute;
                left: -31px;
                top: 1px;
                width: 14px;
                height: 15px;
                background-image: url(../../static/images/check-mark-agreement.svg);
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 0;
            }

        }

        input[type=checkbox]:checked {
            &+label:after {
                opacity: 1;
            }

            &+label::before {
                border-color: #070707;
            }

            &+label {
                color: #070707;
            }
        }


        input[type=checkbox]:focus+label::before {
            outline: #000 1px;
            outline-style: ridge;
        }

        &:hover {

            &+button:disabled,
            &>label::before {
                color: #828282;
                border-color: #828282;
            }

            &>label {
                color: #828282;
            }
        }
    }

    &__submit-btn {
        margin-top: 15px;
    }

    &__btn_close {
        position: absolute;
        top: -4px;
        right: -44px;
        cursor: pointer;
        background: transparent;
        border: none;
        transition: .4s;
    }
}


@media screen and (max-width:767px) {
    .sing-up-modal {
        overflow-y: auto;
        padding: 55px 15px 30px;
        height: 533px;

        &__block {
            margin: 0 auto;
            max-width: 90%;
        }

        &__wrapper-email {
            max-width: 90%;
            margin: 0 auto 17px;
        }

        &__wrapper-agreement {
            margin-top: 20px;
        }

        &__btn_close {
            top: 3%;
            left: 5%;
        }

    }
}

@media screen and (max-width:320px) {
    .sing-up-modal {
        border: none;
    }
}