.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: #828282;
        font-weight: bold;
    }


}

a.header__home-link {
    color: #070707;
}

.header__list {
    list-style-type: none;
    padding: 0;
}

.header__item {
    display: inline-block;
}