.header {
    padding: 33px 0;
    border-bottom: solid 1px #828282;

    a {
        text-decoration: none;
        color: #828282;
        font-weight: bold;
    }

    nav {
        width: 100%;
    }

    &__list {
        list-style-type: none;
        padding: 0;
        display: flex;
    }

    &__items {

        margin-left: 20px;

        button {
            border: none;
            background: transparent;
            padding: 0;
            cursor: pointer;
        }

        .header__active-link {
            color: #070707;
        }

        &:hover a,
        &:active a,
        &:hover button,
        &:active button {
            color: #070707;
        }

        &-hidden {
            display: none;
        }
    }

    &__items:first-child {
        margin: 0 auto 0 0;

    }

    &__item {
        font-family: var(--font-gilroy);
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #828282;
    }

}


.mobile-menu-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(246, 246, 246, 0.99);
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
}

.mobile-menu {
    position: fixed;
    overflow-y: auto;
    right: 7px;
    top: 50px;
    height: 100%;
    text-align: end;
    display: block;
    z-index: 10;

    &-open-btn {
        width: 32px;
        height: 20px;
        padding: 0;
        border: none;


        text-decoration: none;
        background: transparent;
        display: none;

        margin-left: auto;
        position: relative;
        top: 50px;
        right: 20px;
    }

    &-btn-content {
        display: block;
        width: 32px;
        height: 4px;
        background: #070707;
        border-radius: 15px;
        position: relative;
        cursor: pointer;

        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 32px;
            height: 4px;
            background: #070707;
            border-radius: 15px;
            left: 0;
        }

        &:after {
            top: 8px;
        }

        &:before {
            bottom: 8px;
        }
    }

    &__close-btn {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__list {
        list-style-type: none;
        margin-top: 180px;
        margin-right: 13px;
    }

    &__item {
        font-family: var(--font-gilroy);
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        color: #828282;
    }

    &__items {
        margin-bottom: 41px;

        button {
            border: none;
            background: transparent;
            padding: 0;
            cursor: pointer;
        }

        &-hidden {
            display: none;
        }
    }

    &-hidden {
        display: none;
    }
}