body {
    font-family: var(--font-gilroy);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    margin: 0;
}

ul {
    padding: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}





@import "./header/header";
@import "./footer/footer";
@import "./variables.scss";