.footer {
    padding: 64px 0;

    &__title {
        font-size: 34px;
        line-height: 41px;
    }

    &__text {
        font-weight: 500;
        margin: 21px 15px;
    }

    &_message-btn {
        font-family: var(--font-gilroy);
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        background: #070707;
        border-radius: 30px;
        text-decoration: none;
        padding: 10px 29px;
        color: #fff;
        border: none;
        margin-top: 10px;
        cursor: pointer;
    }

    &-container {
        max-width: 318px;
        width: 100%;
        margin: 0 auto;
        text-align: center;


    }
}

.footer-socials {
    &__link {
        text-decoration: none;
        border: 2.5px solid #070707;
        box-sizing: border-box;
        border-radius: 30px;
        color: #070707;
        font-weight: 700;
        line-height: 22px;
        display: inline-block;
        padding: 8px 16px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: 39px;
    }

    &__item_top:not(:nth-child(3n)) {
        margin-right: 11px;
    }

    &__item_bottom {
        margin-top: 9px;

        &:nth-child(3n+1) {
            margin-left: 18px;
        }

        &:not(:nth-child(3n+1)) {
            margin-left: 12px;
        }
    }
}

.copyright {
    margin-top: 41px;

    &,
    &__developer {
        font-size: 14px;
        line-height: 16px;
        color: #828282;
        display: block;
    }

    &__link {
        text-decoration: none;
        color: #828282;
        border-bottom: 1px dashed #828282;
    }

    &__developer {
        margin-top: 5px;
    }
}