<footer class="footer">
    <div class="footer-container">
        <h2 class="footer__title">Contacts</h2>
        <p class="footer__text">Want to know more or just chat? You are welcome!</p>
        <button class="footer__message-btn">Send message</button>
        <ul class="footer-socials__list">
            <li class="footer-socials__item_top"><a class="footer-socials__link" href="#">Instagram</a></li>
            <li class="footer-socials__item_top"><a class="footer-socials__link" href="#">Vk</a></li>
            <li class="footer-socials__item_top"><a class="footer-socials__link" href="#">Telegram</a></li>
            <li class="footer-socials__item_bottom"><a class="footer-socials__link" href="#">Mail</a></li>
            <li class="footer-socials__item_bottom"><a class="footer-socials__link" href="#">GitHub</a></li>
            <li class="footer-socials__item_bottom"><a class="footer-socials__link" href="#">Phone</a></li>
        </ul>
        <span class="copyright">Design by <a class="copyright__link" href="#">DL Academy</a></span>
        <span class="copyright__developer">Program code from Antonina</span>
    </div>
</footer>