.to-up-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 42px;
    height: 42px;
    background: #fff;
    border: 2.5px solid #070707;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}